@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.table-style {
  height: 500vh;
  border-collapse: collapse;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0px auto;
  border: 2px solid midnightblue;
}

thead tr {
  background-color: midnightblue;
  color: #fff;
  text-align: left;
}

th,
td {
  padding: 15px 20px;
  text-align: center;
}

tbody tr,
td,
th {
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

@media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style {
    width: 100%;
    margin: 0px;
    font-size: 10px;
  }
  th,
  td {
    padding: 10px 7px;
  }
}
.wrapper .view-container table th {
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.delete-btn {
  color: red;
  cursor: pointer;
}
.edit-btn {
  color: rgb(243, 134, 9);
  cursor: pointer;
}
.form-field {
  margin: 0px 0 10px 150px;
  padding: 5px;
  font-size: 16px;
  border: 50px;
  font-family: 'Roboto', sans-serif;
}

input {
  background: #f2f2f2;
}

.wrapper .form-container .btn {
  margin-left: 35%;
  justify-content: center;
  align-items: center;
  width: 15%;
}
.wrapper h1 {
  text-align: center;
}
.wrapper .view-container {
  margin: 0px;
  padding: 20px;
}

.form-container {
  justify-self: center;
  justify-content: center;
  display: flex;
  width: 50%;
  margin: 20px 25%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}
.view-container .btn-danger {
  margin-left: 42%;
  justify-content: center;
  align-items: center;
  /* width: 10%; */
}
