* {
  margin: 0px;
}

nav {
  height: 100px;
  display: flex;
  margin-right: 300px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-image {
  width: 160px;
}

.searchbar-container {
  display: flex;
  margin: 0px 10px;
  padding: 10px;
  align-items: center;
  flex: 1;
  padding-left: 30%;
  width: 50%;
}

.searchbar {
  background: white;
  padding-right: 20px;
  flex: 1;
}

.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgb(250, 92, 0);
  border-radius: 3px;
  border: none;
  width: 100%;
}

.searchbar input:focus {
  outline: none;
}

.searchbar-btn button {
  background-color: rgb(250, 92, 0);
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
  margin-left: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  padding: 0px 10px 20px 10px;
}

@media screen and (max-width: 992px) {
  .pokedex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgb(250, 92, 0);
  border-radius: 3px;
}

.pokemon-img-container {
  padding: 0px 5px;
}

.pokemon-img {
  width: 70px;
  height: 70px;
}

.pokemon-type {
  display: flex;
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-top h3 {
  text-transform: capitalize;
}

.page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App {
  font-family: sans-serif;
  background-color: rgb(184, 243, 235);
}

.icon {
  width: 28px;
  height: 28px;
}

.page-btn {
  background-color: rgb(250, 92, 0);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.base-stat {
  background-color: rgba(73, 212, 205, 0.329);
}
.not-found-text {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}
